# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# Entornos virtuales
.env/
.venv/
venv/
ENV/

# Archivos de datos y resultados
# artifacts/
# data/

# Docker
*.log

# Otros
.DS_Store
Thumbs.db


HELP.md

### Java / JVM build outputs ###
*.class
*.jar
*.war
*.ear
out/
bin/
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
